*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* cabeçalho */
#drawer {

    background-color: #FFFCF7;
    
    .logo {
        margin: 0px;
        display: flex;
        gap: 10px;
    }


    #btn-mobile {
        
        display: none;
        
    }
    > header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 40px;
        

        > nav ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 50px;

            > li a {
                display: flex;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                color: /*#B695C0*/ #78378b;
            }
        }
        .img-logo {
            width: 15vw;
        }
    }
}

/*Botão whatsapp*/

.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

main{
    background-color: #d4b68ade;
    
}

.galeria {
    
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.galeria-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5vw;
}

.galeria-items {
    width: 340px;
    height: 250px;
    margin-bottom: 30px;
    /*border: 10px solid #fff;
    box-shadow: 3px 3px 3px #0000007c;*/
}

.galeria-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.lounges h1 {
    background-color: #b280c2de;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 40px;

}

/*section {
    background-image: url('/img-brinquedos/foto-14.jpeg');
    
    
}*/

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    /*background-image: url("/img-brinquedos/foto-14.jpeg");
    background-size: cover;
    width: 100%;*/
    
    
}




.opcao-lounge{
    width: 500px;
    margin: 40px;
    height: 600px;
    text-align: center;
    padding: 40px;
    background-color: /*#e6ded2e1*/ #dbb2e083;
    color: #78378b;
    /*background-image: url("/img-brinquedos/foto-14.jpeg");
    background-size: cover;*/
    font-size: 18px;
}

.opcao-lounge li {
    text-align: justify;
}

.monitor {
    font-size: 12px;
}
.info-adc h1{
    background-color: #d4b68ade;
}

.informacoes li{
    padding: 30px;
    font-size: 18px;
    text-align: justify;
    
    
}



.qtd-brinquedos {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.contato{
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #fff;
}

.contato a {
    font-size: 30px;
    color: #78378b;
}
/*Rodapé*/

.rodape{
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #78378b;
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width: 1300px){
    /* cabeçalho */
    #drawer{
    background-color: #FFFCF7;
    
    margin-bottom: -20px;
    margin-top: -20px;
    padding: 0px;

    
        
    .logo .img-logo{
        width: 120px;
        margin-left: -20px;
        
    }
    > header #menu {
        display: none;
        position: absolute;
        width: 60%;
        padding: 20px;
        height: 60vh;
        top: 90px;
        right: 0px;
        background-color: #FFFCF7;;
        
        z-index: 1000;
    }
    
    > header #menu li {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    #btn-mobile{
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        height: 30px;
        background-color: /*#eedcc6*/ #FFFCF7;
        border: none; 
    }
    #btn-mobile img {
        width: 30px;
        
    }

    header #menu li a {
        font-size: 15px;
    }
    
    
    #nav.active #menu {
        display: block;
        flex-direction: column;
            
    }
    
}
    

    /*.container-1{
    
    background-image: url("/img-brinquedos/papo400.jpeg");
    background-size: cover;
    
    }
    .container-2{
    
    background-image: url("/img-brinquedos/foto-13.jpeg");
    background-size: cover;
    
    }
    .container-3{
    
        background-image: url("/img-brinquedos/lougec800.jpeg");
        background-size: cover;
        
        }*/


    /*section {
        background-image: url('/img-brinquedos/foto-14.jpeg');
        
        background-position: left center;
        
    }*/   

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: #eedfc896;
        /*background-image: url("/img-brinquedos/papo400.jpeg");
        background-size: cover;*/
            
            
        }
    .galeria{
        padding: 5px;  
    }    
          

    .galeria-items {
        width: 157px;
        height: 140px;
        
        /*border: 10px solid #fff;
        box-shadow: 3px 3px 3px #0000007c;*/
    }

    .lounges h1 {
        padding: 20px;
        font-size: 30px;
    
    }
    
    .opcao-lounge{
        width: 500px;
        margin: 40px;
        height: 670px;
        text-align: center;

        padding: 30px;
        background-color: #e6ded2e1;
        color: #78378b;
        font-size: 15px;
    }

    
    
    .opcao-lounge li {
        text-align: start;
    }
    
    


    .informacoes li{
        padding: 20px;
        font-size: 18px;
        text-align: start;
        
    }
    .contato{
        padding: 20px;
        background-color: #e6ded267;
    }
    
    .contato a {
        font-size: 30px;
        color: #78378b;
    }
    .rodape{
        padding: 13px;
        font-size: 16px;
    }
}


