*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}



/* cabeçalho */
#drawer {

    background-color: #FFFCF7;
    
    .logo {
        margin: 0px;
        display: flex;
        gap: 10px;
    }


    #btn-mobile {
        
        display: none;
        
    }
    > header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 40px;
        

        > nav ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 50px;

            > li a {
                display: flex;
                text-decoration: none;
                font-weight: 600;
                font-size: 20px;
                color: /*#B695C0*/ #c283df;
            }
        }
        .img-logo {
            width: 15vw;
        }
    }
}

/*Botão whatsapp*/

.btn-whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 30px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

.fa-whatsapp {
    margin-top: 16px;
}

main{
    background-color: #d4b68ade;
    
}

.galeria {
    
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.galeria-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5vw;
}

.galeria-items {
    width: 340px;
    height: 250px;
    margin-bottom: 30px;
    /*border: 10px solid #fff;
    box-shadow: 3px 3px 3px #0000007c;*/
}

.galeria-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Lounges*/

.lounges .bff h1 {
    background-image: /*#b280c2de*/  linear-gradient(to right, /*#92C4B8, #b280c2de, #CEE4DF*/#c0e7d8cb, #D2BDDC, #F8C9D3);
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 40px;

}

.lounges .amiguinhos h1 {
    background-image: /*#b280c2de*/  linear-gradient(to right, #92C4B8, #44b344de, #CEE4DF);;
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 40px;

}

.lounges .turma h1 {
    background-image: /*#b280c2de*/  linear-gradient(to right, #92C4B8, #68ebebde, #CEE4DF);
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 40px;

}



.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #e6ded267;
    
    
}




.opcao-lounge-1{
    width: 500px;
    margin: 40px;
    height: 630px;
    text-align: center;
    padding: 40px;
    background-color: /*#e6ded2e1*/ #fff;
    color: #78378b;
    font-size: 18px;
}

.opcao-lounge-2{
    width: 500px;
    margin: 40px;
    height: 630px;
    text-align: center;
    padding: 40px;
    background-color: /*#e6ded2e1*/ #fff;
    color:  #1f8f1fde;
    
    font-size: 18px;
}

.opcao-lounge-3{
    width: 500px;
    margin: 40px;
    height: 630px;
    text-align: center;
    padding: 40px;
    background-color: /*#e6ded2e1*/ #fff;
    color:  #1f828fde;
    font-size: 18px;
}

.opcao-lounge-5{
    width: 500px;
    margin: 40px;
    height: 630px;
    text-align: center;
    padding: 40px;
    background-color: /*#e6ded2e1*/ #fff;
    color:  #78378b;
    font-size: 18px;
}
.pool h1{
    background-image: /*#b280c2de*/  linear-gradient(to right, #c1e2dad7, #94d1ba, #c1e2dad7);
    padding: 30px;
    text-align: center;
    color: #fff;
    font-size: 40px;
}

div .img-1{
    width: 32vw;
    margin: 0px auto 10px auto;
    border: solid 2px #94d1ba;
    margin-bottom: 20px;
}
.img-2{
    width: 32vw;
    
    border: solid 2px #94d1ba;
}

.completa-1{
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 800px;
    gap: 5%;
    
    
}

.completa-2{
    margin: 0px auto 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 900px;
    height: 800px;
    gap: 5%;
    
    
}

.white-pool{
    margin: 20px auto 10px auto;
    display: flex;
    flex-direction: column;
    
    width: 1100px;
    height: 1300px;
    
}

.div-info-1{
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto;
    width: 280px;
}

.div-info-2{
    display: flex;
    flex-direction: column;
    margin: 0px auto 10px auto;
    width: 280px;
}

.div-1 {
    width: 280px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    height: 180px;
    background-color: #c0e7d8cb;
    padding: 30px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
    
}

.div-2 {
    width: 250px;
    height: 130px;
    font-size: 20px;
    background-color: #D2BDDC;
    color: #fff;
    font-weight: 500;
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}
.div-3 {
    width: 250px;
    height: 100px;
    font-size: 20px;
    background-color: #c0e7d8cb;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
}

.div-4 {
    width: 250px;
    height: 70px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #D2BDDC;
    padding: 20px;
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
}

.div-5 {
    width: 250px;
    height: 130px;
    font-size: 20px;
    background-color: #F8C9D3;
    color: #fff;
    font-weight: 500;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}

.div-6 {
    width: 250px;
    height: 70px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    background-color: #F8C9D3;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
}


.opcao-lounge-1 li, .opcao-lounge-2 li, .opcao-lounge-3 li {
    text-align: justify;
}

.monitor {
    font-size: 12px;
}
.info-adc h1{

    background-color: #fff;
    padding: 30px;
    text-align: center;
    color: #78378b;
    font-size: 40px;
}

.informacoes li{
    padding: 30px;
    font-size: 18px;
    text-align: justify;
    
    
}



.qtd-brinquedos {
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.contato{
    padding: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background-color: #e6ded267;
}

.contato a {
    font-size: 30px;
    color: /*#78378b*/ #af7fc5;
}
/*Rodapé*/

.rodape{
    padding: 15px;
    align-items: center;
    text-align: center;
    background-color: #D4BFDE ;
    color: #fff;
    font-size: 18px;
}

@media screen and (max-width: 1300px){
    /* cabeçalho */
    #drawer{
    background-color: #FFFCF7;
    
    margin-bottom: -20px;
    margin-top: -20px;
    padding: 0px;

    
        
    .logo .img-logo{
        width: 120px;
        margin-left: -20px;
        
    }
    > header #menu {
        display: none;
        position: absolute;
        width: 60%;
        padding: 20px;
        height: 60vh;
        top: 90px;
        right: 0px;
        background-color: #FFFCF7;;
        
        z-index: 1000;
    }
    
    > header #menu li {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    #btn-mobile{
        display: block;
        position: absolute;
        right: 20px;
        width: 30px;
        height: 30px;
        background-color: /*#eedcc6*/ #FFFCF7;
        border: none; 
    }
    #btn-mobile img {
        width: 30px;
        
    }

    header #menu li a {
        font-size: 15px;
    }
    
    
    #nav.active #menu {
        display: block;
        flex-direction: column;
            
    }
    
}
    

    /*.container-1{
    
    background-image: url("/img-brinquedos/papo400.jpeg");
    background-size: cover;
    
    }
    .container-2{
    
    background-image: url("/img-brinquedos/foto-13.jpeg");
    background-size: cover;
    
    }
    .container-3{
    
        background-image: url("/img-brinquedos/lougec800.jpeg");
        background-size: cover;
        
        }*/


    /*section {
        background-image: url('/img-brinquedos/foto-14.jpeg');
        
        background-position: left center;
        
    }*/   

    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
        /*background-image: url("/img-brinquedos/papo400.jpeg");
        background-size: cover;*/
            
            
        }
    .galeria{
        padding: 5px;  
    }    
          

    .galeria-items {
        width: 157px;
        height: 140px;
        
        /*border: 10px solid #fff;
        box-shadow: 3px 3px 3px #0000007c;*/
    }

    /*Lounges*/

.lounges .bff h1 {
    
    padding: 20px;
    font-size: 22px;

}

.lounges .amiguinhos h1 {
    padding: 20px;
    font-size: 30px;

}

.lounges .turma h1 {
    padding: 20px;
    font-size: 30px;

}

    .opcao-lounge-1{
        width: 500px;
        margin: 40px;
        height: 600px;
        text-align: center;
        padding: 40px;
        background-color: /*#e6ded2e1*/ #fff;
        color: /*#78378b*/ #af7fc5;
        font-size: 13px;
    }
    
    .opcao-lounge-2{
        width: 500px;
        margin: 40px;
        height: 830px;
        text-align: center;
        padding: 40px;
        background-color: /*#e6ded2e1*/ #fff;
        color:  #1f8f1fde;
        
        font-size: 18px;
    }
    
    .opcao-lounge-3{
        width: 500px;
        margin: 40px;
        height: 830px;
        text-align: center;
        padding: 40px;
        background-color: /*#e6ded2e1*/ #fff;
        color:  #1f828fde;
        font-size: 18px;
    }
    
    .opcao-lounge-5{
        width: 500px;
        margin: 40px;
        height: 750px;
        text-align: center;
        padding: 40px;
        background-color: /*#e6ded2e1*/ #fff;
        color:  /*#691d1dde*/ #78378b;
        font-size: 18px;
    }

    .pool h1{
        
        padding: 20px;
        font-size: 30px;
    }
    
    div .img-1{
        width: 80vw;
        display: flex;
        margin: 30px auto 0px auto;
        
        
    }
    .img-2{
        width: 85vw;
        display: flex;
        margin: 30px auto 0px auto;
        
    }
    
    .completa-1{
        margin: 0px auto 30px auto;
        display: flex;
        flex-direction: column;
        justify-content: none;
        width: 100vw;
        height: 700px;
        gap: 0px;
        
        
    }

    .completa-2{
        margin: 0px auto 0px auto;
        display: flex;
        flex-direction: column;
        justify-content: none;
        width: 100vw;
        height: 500px;
        gap: 0px;
        
        
    }
    
    .white-pool{
        margin: 20px auto 10px auto;
        display: flex;
        flex-direction: column;
        
        width: 100vw;
        height: 1300px;
        
    }
    
    

    .div-info-1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px auto 10px auto;
        width: 320px;
        gap: 5px;
    }
    
    .div-info-2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0px auto 10px auto;
        width: 320px;
        gap: 5px;
    }
    
    .div-1 {
        width: 110px;
        font-size: 10px;
        color: #fff;
        font-weight: 500;
        height: 120px;
        
        padding: 15px;
        border-radius: 20px;
        text-align: center;
        
    }
    
    .div-2 {
        width: 100px;
        height: 120px;
        font-size: 10px;
        background-color: /*#9a5cadd0*/ #D2BDDC;
        color: #fff;
        font-weight: 500;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }
    .div-3 {
        width: 140px;
        height: 90px;
        font-size: 12px;
        
        color: #fff;
        font-weight: 500;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }
    
    .div-4 {
        width: 140px;
        height: 90px;
        font-size: 10px;
        color: #fff;
        font-weight: 500;
        background-color: /*#9a5cadd0*/ #D2BDDC;
        padding: 30px;
        
        border-radius: 20px;
        text-align: center;
    }
    
    .div-5 {
        width: 100px;
        height: 120px;
        font-size: 10px;
        background-color: /*#945f1194*/ #F8C9D3;
        color: #fff;
        font-weight: 500;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }
    
    .div-6 {
        width: 140px;
        height: 90px;
        font-size: 10px;
        color: #fff;
        font-weight: 500;
        background-color: /*#945f1194*/ #F8C9D3;
        padding: 20px;
        border-radius: 20px;
        text-align: center;
    }
    
    
    .info-adc h1{
        background-color: #fff;
        color: /*#78378b*/ #af7fc5;
        padding: 20px;
        font-size: 30px;

    }
    .informacoes {
        height: 800px;
    }

    .informacoes li{
        padding: 20px;
        font-size: 13px;
        text-align: start;
        color: #af7fc5;
        
        
    }
    .contato{
        padding: 20px;
        
    }
    
    .contato a {
        font-size: 30px;
        color: /*#78378b*/ #af7fc5;
    }
    .rodape{
        padding: 13px;
        font-size: 16px;
    }
}


